




.bgimg-1 {
  background-image: url('./back_ground_2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 500px;
  display: flex;
  justify-content: center;
  
}


.web_name {
 position: absolute;
 top: 25%;
 border: 2px solid black;
 width: 50% ;
 text-align: center;
 display: flex;
 justify-content: space-around;
 padding: 20px 0;
 background-color: black;

 
}

.web_name a{
  font-size:250%;
  font-style: oblique;
  color:white;
  position: relative;
}

/* Style the side navigation */
.sidenav {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: rgb(247, 211, 211);
  
}


/* Side navigation links */
.sidenav a,h2{
  color: rgb(12, 12, 12);
  padding: 16px;
  text-decoration: none;
  display: block;
}




/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}








